<!DOCTYPE html>
<html>
   <head>
      <title>Registrar's Office Error</title>
   </head>
   <body>
      <h1>Registrar's Office</h1>
      <p>{{error}}</p>
      

    % include ('footer.tpl')
    <hr>
	</hr>	
   </body>
</html>