<!DOCTYPE html>
 <html>
   <head>
      <title>Penny.com</title>
      </head>
   <body>
      % include('header.tpl')
      <br>
      Click here to <a href="searchform">begin</a>.<br>
      <br>
      % include('footer.tpl')
   </body>
 </html>

